body { font-family: sans-serif; }
h1, h2, h3 {
  font-family: serif;
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: monospace; }

.inverted { color: white; background: black; }

.rectangle {
  display: inline-block;

  background: #9FCFF8;
  width: 60px;
  height: 20px;
  padding: 50px;
  margin: 20px;
  border: 10px solid #FFE599;
}

.row {
    display: flex;
}

.column {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.remark-inline-code {
	color: #f18a21;
}

strong {
	color: #f18a21;
}

p {
	line-height: 1.25;
}
